<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Manrope:wght@300&family=Outfit:wght@300&family=Quicksand:wght@300;400&family=Rajdhani:wght@300;400&display=swap" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/customStyle.css" rel="stylesheet">

    <title>Tyte Wheels - Home</title>
</head>
<body class="h-screen">
    <header class="flex flex-row items-center justify-center text-center h-1/2 w-full">
        <img src="/images/wheel.png";>
        <h1 class="text-6xl font-bold w-full mt-36">Tyte Wheels</h1>
    </header>
    <div id="loginContainer" class="flex flex-row flex-wrap items-center px-8 pb-32 h-1/2 text-3xl">
        <a href="/login" class="w-full h-1/4 border-2 rounded-lg">Login</a>
        <a href="/create-account" class="w-full h-1/4 border-2 rounded-lg">Sign Up</a>
    </div>
    
</body>
</html>