<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Manrope:wght@300&family=Outfit:wght@300&family=Quicksand:wght@300;400&family=Rajdhani:wght@300;400&display=swap" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/customStyle.css" rel="stylesheet">

    <title>Tyte Wheels - Login</title>
</head>
<body class="h-screen w-screen">
    <header id="signUpHeader" class="flex flex-row flex-wrap items-center justify-center text-center h-1/4 w-full">
        <!-- <img src="/images/wheel.png";> -->
        <h1 class="text-6xl font-bold w-full mt-12">Tyte Wheels</h1>
        <h2 class="text-4xl w-full">Login</h2>
    </header>
    <div id="loginContainer" class="flex flex-row flex-wrap justify-center items-start px-4 py-32 h-3/4 w-screen text-3xl">

        <form action="/login" method="POST" id="createAccountForm" name="createAccountForm" class="flex flex-col flex-wrap justify-center h-auto w-full border-2 px-2">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            
            <label class="text-lg">Email:</label>
            <input type="email" name="email" id="emailInput" class="formInput rounded-md border-2 mb-4 px-1 text-lg">
            <label class="text-lg">Password:</label>
            <input type="password" name="password" id="passwordInput" class="formInput rounded-md border-2 mb-4 px-1 text-xl">

            <input id="submitBtn" type="submit" class="w-full h-1/4 border-2 rounded-lg my-4">

        </form>

                
    <div id="g_id_onload"
        data-client_id="YOUR_GOOGLE_CLIENT_ID"
        data-login_uri="https://your.domain/your_login_endpoint"
        data-auto_prompt="false">
     </div>
     <div class="g_id_signin w-3/4 h-10"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
     </div>


        <!-- <button class="w-full h-1/4 border-2 rounded-lg">Submit</button> -->
    </div>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    
</body>
</html>