<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Manrope:wght@300&family=Outfit:wght@300&family=Quicksand:wght@300;400&family=Rajdhani:wght@300;400&display=swap" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/customStyle.css" rel="stylesheet">

    <title>Tyte Wheels - Select Wheels</title>
</head>
<body class="h-screen w-screen">
    <header id="signUpHeader" class="flex flex-row flex-wrap items-center justify-center text-center h-2/4 w-full">
        <!-- <img src="/images/wheel.png";> -->
        <h1 class="text-6xl font-bold w-full mt-12">Tyte Wheels</h1>
        <h2 class="text-4xl w-full">Show us your wheels</h2>
    </header>
    <div id="loginContainer" class="flex flex-row flex-wrap justify-center items-start pb-4 h-2/4 w-screen text-xl">
        <form action="/waiver-sign" method="GET" id="rideImageForm" name="rideImageForm" class="flex flex-row flex-wrap justify-evenly h-1/2 w-4/5 border-2 p-2">
            <input type="file" name="rideImage" accept="image/png, image/gif, image/jpeg" class="w-full h-1/4">
            <input id="submitBtn" type="submit" class="w-full h-10 border-2 rounded-lg">
        </form>
    </div>
    
</body>
</html>