<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Manrope:wght@300&family=Outfit:wght@300&family=Quicksand:wght@300;400&family=Rajdhani:wght@300;400&display=swap" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/customStyle.css" rel="stylesheet">

    <title>Tyte Wheels - Sign Waiver</title>
</head>
<body class="h-screen w-screen">
    <header id="signUpHeader" class="flex flex-row flex-wrap items-center justify-center text-center h-1/4 w-full">
        <!-- <img src="/images/wheel.png";> -->
        <h1 class="text-6xl font-bold w-full mt-12">Tyte Wheels</h1>
        <h2 class="text-4xl w-full">User Waiver</h2>
    </header>
    <div id="loginContainer" class="flex flex-row flex-wrap justify-center items-center px-2 pb-4 h-3/4 w-screen text-3xl">
        <form id="waiverForm" name="waiverForm" class="flex flex-row flex-wrap justify-evenly h-full w-full border-2 p-2 overflow-scroll text-lg">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare placerat sem sed maximus. Quisque iaculis nulla sed magna finibus, ac molestie velit imperdiet. Sed ac diam eget justo posuere venenatis. Praesent fringilla blandit dolor id mattis. Praesent semper sodales augue, in accumsan lacus fermentum ut. Nulla venenatis eget quam a faucibus. Quisque fermentum sit amet magna non condimentum.
                    <br>
                    Mauris cursus non enim eu euismod. Sed porttitor non odio ac ultricies. Morbi nec nisi in diam fringilla aliquet eu at sapien. Sed mollis consectetur ullamcorper. Donec placerat varius arcu quis tempus. In efficitur turpis augue, sed laoreet leo vulputate at. Praesent ut turpis a sem lacinia bibendum ac id augue. Vestibulum mattis commodo odio, quis rhoncus mi porttitor vel. In sodales dapibus leo, id commodo lorem suscipit vitae. Nulla mi justo, posuere eu turpis quis, semper ornare odio. Integer a gravida urna. Mauris nibh nunc, rutrum sed nisi ullamcorper, posuere feugiat mi. Ut consequat, neque ac pulvinar elementum, mi mi hendrerit odio, vitae pretium neque dui facilisis urna.
                    <br>
                    In mollis molestie leo et ultrices. Ut eget congue nunc, ut dignissim nunc. Curabitur ex tellus, mattis vitae quam ac, consequat faucibus massa. Nulla facilisi. Aliquam quis felis sit amet mauris dictum vulputate ac laoreet justo. Sed ac porta felis, sit amet gravida urna. Integer et tristique tortor. Aenean eleifend neque risus, id porta sapien blandit ac. Donec commodo tortor non venenatis tempus. Morbi consequat, felis id posuere bibendum, dolor magna semper nibh, quis laoreet dolor ex vel ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque suscipit vitae purus id vestibulum. Quisque eu volutpat lacus, quis imperdiet leo. Proin vitae venenatis ligula. Curabitur cursus venenatis ultrices. Donec sodales lorem ut metus vehicula tincidunt.
                </p>
            </div>
            <ul class="flex flex-row flex-nowrap justify-around items-center w-full h-12">
                <li><input class="h-4 w-4 mr-2" type="radio" name="waiverAnswer">Accept</li>
                <li><input class="h-4 w-4 mr-2" type="radio" name="waiverAnswer">Deny</li>
            </ul>
            <input id="submitBtn" type="submit" class="w-full h-1/8 border-2 rounded-lg">
        </form>
        <!-- <button class="w-full h-1/4 border-2 rounded-lg">Submit</button> -->
    </div>
    
</body>
</html>